﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">《使用 Gitlab CI/CD 实现自动化发布站点到 IIS》</h1>
    <p>作者博客：  <a href="https://wigor.club/">网址</a> </p>
    <p>GitHub：  <a href="https://github.com/WuMortal">网址</a> </p>
    <p>Learn about <a href="https://wigor.club/">ME</a>.</p>
</div>
